.container {
  width: 100%;
  margin-bottom: 10px;
}

table {
  width: 100%;
}

.center {
  width: 50%;
  margin: auto;
}

a, a:visited, a:hover, a:active {
  color: #536dfe;
}

.player-link {
  text-decoration: none;
}
