<div class="container">
  <div>
    <button mat-button [matMenuTriggerFor]="statisticsMenu">Select statistics</button>
    <mat-menu #statisticsMenu="matMenu">
      <button mat-menu-item (click)="setStatisticsMode($event)">Rating</button>
      <button mat-menu-item (click)="setStatisticsMode($event)">Reputation</button>
      <button mat-menu-item (click)="setStatisticsMode($event)">Hours</button>
      <button mat-menu-item>Combined</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="chartTypeMenu">Chart type</button>
    <mat-menu #chartTypeMenu="matMenu">
      <button mat-menu-item>Line</button>
      <button mat-menu-item>Bar</button>
    </mat-menu>
  </div>

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    [(update)]="updateChartFlag"
    [oneToOne]=true
    style="display: block;"
  ></highcharts-chart>
</div>
