<mat-toolbar color="primary">
  <mat-toolbar-row class="flexSpaceBetween">
    <div class="side">
      <button mat-button [matMenuTriggerFor]="chartsAmountMenu">Charts amount</button>
      <mat-menu #chartsAmountMenu="matMenu">
        <button mat-menu-item (click)="setChartsAmount(1)">1</button>
        <button mat-menu-item (click)="setChartsAmount(2)">2</button>
        <button mat-menu-item (click)="setChartsAmount(3)">3</button>
        <button mat-menu-item (click)="setChartsAmount(4)">4</button>
      </mat-menu>
    </div>
    <div class="datepicker-container">
      <mat-date-range-input class="datepicker" fxHide.lt-sm fxFlex [formGroup]="dateIntervalFormGroup" [rangePicker]="picker">
        <input class="date-input" matStartDate formControlName="start" placeholder="Start date">
        <input class="date-input" matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker fxLayoutAlign="end" #picker></mat-date-range-picker>
    </div>
    <div class="side"></div>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <ng-container>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="100%" *ngIf="chartsAmount > 0">
        <hota-profile-dashboard-chart [charShouldResize]="charShouldResize.asObservable()" [dateRange]="dateIntervalFormGroup.value"></hota-profile-dashboard-chart>
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="100%" *ngIf="chartsAmount > 1">
        <hota-profile-dashboard-chart [charShouldResize]="charShouldResize.asObservable()" [dateRange]="dateIntervalFormGroup.value"></hota-profile-dashboard-chart>
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="100%" *ngIf="chartsAmount > 2">
        <hota-profile-dashboard-chart [charShouldResize]="charShouldResize.asObservable()" [dateRange]="dateIntervalFormGroup.value"></hota-profile-dashboard-chart>
      </div>
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="100%" *ngIf="chartsAmount > 3">
        <hota-profile-dashboard-chart [charShouldResize]="charShouldResize.asObservable()" [dateRange]="dateIntervalFormGroup.value"></hota-profile-dashboard-chart>
      </div>
    </div>
  </ng-container>
</div>
