<mat-toolbar color="primary" class="header mat-elevation-z5">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div fxHide.xs>
      <h1>HOTA Lobby</h1>
    </div>
    <div fxHide.lt-md class="nav-links">
      <a mat-button routerLink="/leaderboard" routerLinkActive="mat-accent">Leaderboard</a>
      <a mat-button [disabled]="true">Matches</a>
      <a mat-button [disabled]="true">News</a>
      <a mat-button [disabled]="true">Profile</a>
    </div>
    <div fxFlex fxLayoutAlign="end center">
      <mat-form-field floatLabel="never">
        <mat-label style="color: gray">Search player</mat-label>
        <input matInput disabled="true">
      </mat-form-field>
      <button mat-icon-button disabled="true">
        <mat-icon>
          search
        </mat-icon>
      </button>
    </div>
</mat-toolbar>

